#muur {
  width: 500px;
  height: 295px;
  background-color: #d9d9d9; }

.rij {
  display: flex; }

.steen {
  background-color: orange;
  width: 100px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px; }

.geen_cement_rechts {
  margin-right: 0px; }

.smaller {
  width: 80px; }

.onzichtbaar {
  background-color: #d9d9d9 !important; }

.kleuren {
  background-color: orange; }
  .kleuren:hover {
    background-color: blue; }
  .kleuren.roze:hover {
    background-color: red; }
  .kleuren.groen:hover {
    background-color: green; }
